@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Xilosa';
    src:url('./assets/fonts/xilosa_.ttf')
}

*{
    font-family: 'Xilosa';

}

#root,html,body{
    height: max-content;
    width: 100vw;
}